@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/typography';

.dialog {
  display: flex;

  &_header {
    display: flex;
    justify-content: space-between;
    margin: 0 $spacing;
  }
  &_title {
    font-family: $headlines-f;
    text-transform: uppercase;
    color: $dark-c;
  }
  &_closeIcon {
    cursor: pointer;
  }
  &_divider {
    margin: $spacing;
    margin-top: 0;
  }
  &_text {
    color: $dark-c;
  }
}
