@import '../../../scss/typography';
@import '../../../scss/variables';
@import '../../../scss/colors';

.skillItem {
  cursor: pointer;
  width: 150px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: center;
  border: 1px solid yellow;

  &_name {
    font-family: $headlines-f;
    font-weight: 300;
    font-size: 20px;
    margin: 0 $spacing/2;
  }

  &_opened {
    height: 350px;
    width: 350px;

    position: relative;
    margin: auto;
    display: none;
  }

  &_details {
    font-family: $base-f;
    height: 100%;
    width: 100%;
    position: absolute;

    & p {
      height: 100%;
      padding: 0;
      text-align: center;
      line-height: 1.5;
    }
    &:hover + &_opened {
      display: block;
    }
  }
}

.skillProgress {
  position: absolute;
}
