@import '../../../scss/typography';
@import '../../../scss/variables';
@import '../../../scss/colors';

.skillItem {
  margin-left: $spacing;

  &_name {
    font-family: $headlines-f;
    font-weight: 300;
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  &_opened {
    display: block;
    width: 70%;
  }
  &_details {
    font-family: $base-f;
    margin: auto;
    padding: 0;
    line-height: 1.5;

    & p {
      font-weight: 100;
      text-align: right;
      font-size: 1rem;
      margin-right: 16px;
    }
  }
}

.skillItem_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(50, 190, 175, 0.2);
}
