@import '../scss/colors';
@import '../scss/typography';

body {
  background-image: url('../images/Background_stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $light-c;
  max-width: 1400px;
  margin: 0 auto;
  font-family: $base-f;
}
