@import '../../../scss/variables';
@import '../../../scss/colors';
@import '../../../scss/typography';

.experienceItem {
  max-width: 90vw;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid $pink-c;
  border-radius: 8px;
  padding: $spacing;
  background-color: rgba(32, 0, 80, 0.5);
  margin: 0 $spacing;
}

.experience {
  &Name {
    font-family: $headlines-f;
    text-transform: uppercase;
    font-weight: 500;
    color: $pink-c;
    font-size: 1.1rem;
  }

  &Date {
    border-radius: 8px;
    padding: 8px;
    margin-right: 8px;
    font-family: $headlines-f;
    font-weight: 500;
    color: $green-c;
    font-size: 1.1rem;
  }
  &Details {
    max-width: inherit;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
  }
}
