@import '../../scss/colors';
@import '../../scss/typography';
@import '../../scss/variables';

.experiences {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: pre-line;
  margin: $spacing * 2 auto;
}
