@import '../../scss/typography';
@import '../../scss/colors';
@import '../../scss/variables';

.header {
  margin: 0 auto $spacing * 2 auto;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
}

.namePhoto {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.titleName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px;
  text-transform: uppercase;
  font-family: $title-f;
  @media (max-width: 768px) {
    margin: 12px;
  }
}

.titlePhoto {
  width: 80px;
  height: 80px;
  margin: 24px;
  border-radius: 50%;
  @media (min-width: 768px) {
    width: 160px;
    height: 160px;
    margin: 12px;
  }
}

.name {
  letter-spacing: 2rem;
  margin: 1rem -1rem 1rem 1rem;
  font-size: 2.2rem;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.surname {
  letter-spacing: 1.2rem;
  margin-right: -1.2rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.languageSwitch {
  height: fit-content;
  align-self: center;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: inherit;
  font-family: inherit;
  margin: 12px;
}
