@import '../../scss/typography';
@import '../../scss/colors';
@import '../../scss/variables';

.header {
  margin-bottom: $spacing * 2;
}

.namePhoto {
  display: flex;
  justify-content: center;
}

.titleName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px;
  text-transform: uppercase;
  font-family: $title-f;
}

.titlePhoto {
  width: 160px;
  margin: 24px;
  border-radius: 50%;
}

.name {
  letter-spacing: 2rem;
  margin: 16px;
  font-size: 2.2rem;
}

.surname {
  letter-spacing: 1.2rem;
}
