@import '../../../scss/variables';
@import '../../../scss/colors';

.referenceItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.referencePointer {
  display: flex;
  align-items: center;
}

.referenceLine {
  display: inline-block;
  width: $line_length;
  border-top: 2px solid $pink-c;
  &-short {
    width: $line_length * 4;
  }
  &-long {
    width: $line_length * 10;
  }
}

.reference {
  display: flex;
  margin: 8px;

  &--opened {
    flex-direction: column;
    width: $spacing * 14;
    border: 2px solid $green-c;
    border-radius: 8px;
    padding: $spacing;
  }

  &Image {
    width: $spacing * 5;
    margin: 0 8px 8px 0;

    &--opened {
      width: $spacing * 14;
    }
  }

  &Name {
    &--opened {
      text-transform: uppercase;
      color: $green-c;
    }
  }
}
