@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/typography';

.footer {
  height: 120px;
  display: flex;
  margin: $spacing/2 auto;
  justify-content: space-between;
  max-width: 1200px;

  &_div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_contact {
    margin: 0 8px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 30%;
      margin: 0 $spacing/2;
    }
  }
  &_icon {
    height: $spacing;
    width: $spacing;
    margin: $spacing/2;
  }
  &_span {
    font-family: $title-f;
  }
  @media (max-width: 450px) {
    font-size: 12px;
    height: auto;
  }
  @media (max-width: 768px) {
    font-size: 14px;
    height: auto;
  }
}
