@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/typography';

.footer {
  height: 120px;
  width: 100%;
  margin: $spacing * 2 auto;

  &_div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  &_icon {
    height: $spacing;
    width: $spacing;
    margin: $spacing/2;
  }
  &_span {
    font-family: $title-f;
  }
}
