/* .navUrl {
  width: 100%;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: auto;
} */

.navButton {
  height: 40px;
  width: 100px;
  position: absolute;
}

.navButton_leftTop {
  left:16px;
  top:16px;
}

.navButton_rightTop {
  right:16px;
  top:16px;
}

.navButton_leftBottom {
  left:16px;
  bottom:16px;
}

.navButton_rightBottom {
  right:16px;
  bottom:16px;
}
