@import '../../../scss/variables';
@import '../../../scss/colors';
@import '../../../scss/typography';

.navButton {
  width: $spacing * 4;
  padding: $spacing/2;
  position: absolute;
  cursor: pointer;
  background-color: $green-c;
  border: 2px solid $pink-c;
  border-radius: 8px;
  color: $dark-c;
  font-family: $headlines-f;
  font-weight: 300;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $pink-c;
    border: 2px solid $green-c;
    color: $light-c;
  }

  &_leftTop {
    left: $spacing/2;
    top: $spacing/2;
  }

  &_rightTop {
    right: $spacing/2;
    top: $spacing/2;
  }

  &_leftBottom {
    left: $spacing/2;
    bottom: $spacing/2;
  }

  &_rightBottom {
    right: $spacing/2;
    bottom: $spacing/2;
  }
}
